{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'img/logo.png' %}" class="logo" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li {% if '/' == request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3"
                    {% endif %}>
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li {% if '/about' == request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3"
                    {% endif %}>
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li {% if '/listings/' == request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3"
                    {% endif %}>
                    <a class="nav-link" href="{% url 'listings' %}">Featured Listings</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li {% if '/auth/dashboard' == request.path %} class="nav-item active mr-3" {% else %}
                    class="nav-item mr-3" {% endif %}>
                    <a class="nav-link" href="{% url 'dashboard' %}">
                        <i class="fas fa-columns"></i>
                        Dashboard</a>
                </li>
                <li class="nav-item mr-3">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.username }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#!">
                                <i class="fas fa-user"></i>
                                &nbsp;&nbsp;Profile</a>
                            </a>
                            <a class="dropdown-item" href="#!">
                                <i class="fas fa-user-cog"></i>
                                &nbsp;Settings</a>
                            </a>
                            <!-- Logout form -->
                            <form action="{% url 'logout' %}" method="POST">
                                {% csrf_token %}
                                <!--
                                <a class="dropdown-item" href="{% url 'logout' %}">
                                    <i class="fas fa-power-off"></i>
                                    &nbsp;&nbsp;Logout</a>
                                -->
                                <button type="submit" class="dropdown-item" style="text-transform: uppercase;cursor: pointer;">
                                    <i class="fas fa-power-off"></i>
                                    &nbsp;&nbsp;Logout
                                </button>
                            </form>
                        </div>
                    </div>
                </li>
                {% else %}
                <li {% if '/auth/login' == request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3"
                    {% endif %}>
                    <a class="nav-link" href="{% url 'login' %}">
                        <i class="fas fa-sign-in-alt"></i>
                        Login</a>
                </li>
                <li {% if '/auth/register' == request.path %} class="nav-item active mr-3" {% else %}
                    class="nav-item mr-3" {% endif %}>
                    <a class="nav-link" href="{% url 'register' %}">
                        <i class="fas fa-user-plus"></i> Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>